@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgba(241, 245, 248);
}
.title-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 4px;
}
.btn {
  background-image: url("./img/bullet-point.png");
  width: 40px;
  height: 40px;
  background-size: cover;

  border: none;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.btn.rotate {
  transform: rotate(-90deg);
}
.btnX.rotateX {
  transform: rotate(-360deg);
}
.menus {
  width: 300px;
  height: 100vh;
  background-color: rgba(255, 255, 255);
  position: absolute;
  left: -300px;
  padding: 20px;
  transition: left 0.3s ease;
}
.menus.active {
  left: 0;
}
.menu {
  position: relative;
}
.btnX {
  width: 30px;
  height: 30px;
  background-image: url("./img/close.png");
  background-size: cover;
  border: none;
  position: absolute;
  top: 10px;
  left: 250px;
  transition: transform 0.4s ease;
}
