@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgba(241, 245, 248);
}
.title-container {
  display: flex;
  justify-content: space-between;
}
.btn {
  background-image: url("./img/bullet-point.png");
  width: 40px;
  height: 40px;
  background-size: cover;
  /* margin-top: 20px;
  margin-right: 20px; */
  border: none;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.menus {
  width: 300px;
  height: 100vh;
  background-color: rgba(255, 255, 255);
  display: none;
}
